[Unit]
Description=Roda a auditoria de superfície systemd toda semana

[Timer]
OnCalendar=Mon *-*-* 11:00:00
Persistent=true

[Install]
WantedBy=timers.target
